html, 
body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}



.grid-container{
    display: grid;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(200, 200, 200);
      font-family: "Roboto", sans-serif;
}


header p{
    font-size: .85rem;
    font-weight: bold;
    letter-spacing: -0.03rem;
}

.logo-title{
    display: flex;
    align-items: center;
    gap: 3px;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

header a{
    text-transform: uppercase;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: .75rem;
    text-decoration: none;
    color: black;
}

/* Hero */

.hero-post{
    background-image: url(/images/article-image-hero.jpg);
    color: white;
    gap: .5em;
}

/* Articles */

/* Footer */
footer{
    background: #202020;
    color: white;
}

