html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.25em 1fr 1.25em;
  grid-template-areas:
    ".... head ...."
    "hero hero hero"
    ".... main ...."
    "foot foot foot";
  /* gap: 1em 0; */
}

.grid-container-click {
  display: grid;
  grid-template-columns: 1.25em 1fr 1.25em;
  grid-template-areas:
    ".... head ...."
    ".... hero ...."
    ".... main ...."
    "foot foot foot";
}

header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 1em 0;
}

header p {
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: -0.03rem;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 3px;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

header a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  text-decoration: none;
  color: black;
}

/* main */

main {
  grid-area: main;
}

/* Hero */

.about-img {
  width: 182px;
  border-radius: 3px;
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}

.hero-post {
  grid-area: hero;
  background-image: url(/images/article-image-hero.jpg);

  background-size: cover;
  color: white;
  gap: 0.5em;
  padding: 5.45em 1.25em 1.56em 1.25em;
  font-family: "Source Sans 3", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.hero-post-click {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero-date {
  font-size: 0.75rem;
  font-weight: 100;
}

.hero-date-click {
  font-size: 0.75rem;
  font-weight: 100;
  margin-top: 2em;
}
.hero-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -3%;
  line-height: 108.2%;
}

.hero-title-click {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -3%;
  line-height: 108.2%;
}
.hero-description {
  font-size: 1rem;
  font-weight: normal;
}

.hero-description-click {
  font-size: 1rem;
  font-weight: normal;

  margin-bottom: 1.2em;
}

.bold {
  font-weight: bold;
}

/* Articles */

article {
  margin: 2.375em 0;
  grid-template-columns: 1fr;
  grid-template-areas:
    "art1"
    "art2"
    "art3"
    "art4"
    "art5"
    "art6";
}

.article-date {
  font-size: 0.875rem;
  margin-top: 1em;
  font-weight: 400;
}

.article-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 108.2%;
  margin: 0.375em 0;
}

.article-img {
  width: 100%;
  border-radius: 3px;
}

.article-hidden {
  display: none;
}

.article1 {
  grid-area: art1;
}
.article2 {
  grid-area: art2;
}
.article3 {
  grid-area: art3;
}
.article4 {
  grid-area: art4;
}
.article5 {
  grid-area: art5;
}
.article6 {
  grid-area: art6;
}

.article-hidden-click {
  display: none;
}
/* View More */
.view-more {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  text-decoration: underline;
  margin-bottom: 2.7em;
}

.recent-posts {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  margin-top: 3.18em;
  margin-bottom: 1.7em;
}
/* Footer */
footer {
  /* display: flex; */
  grid-area: foot;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202020;
  color: white;
  font-size: 0.75rem;
  padding: 3.08em 0;
}

.footer-title {
  font-weight: bold;
  letter-spacing: -0.03rem;
  margin-bottom: 0.25em;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 3.3em 1fr 3.3em;

    /* grid-template-columns: 1.25em 1fr 1.25em; */
    /* grid-template-areas:
      ".... head ...."
      "hero hero hero"
      "... main ..."
      "foot foot foot"; */
  }
  .grid-container-click {
    grid-template-columns: 3.3em 1fr 3.3em;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "art1 art2 art3"
      "art4 art5 art6";
    gap: 1.625em;
  }

  .article {
    margin-bottom: 0;
  }

  .article-hidden {
    display: block;
  }

  .about-flex-container {
    margin-top: 5.5em;
  }

  .flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-bottom: 4em;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    margin-top: 0;
    margin-bottom: 0;
  }

  header {
    padding: 1.5em 0;
  }

  .indent {
    margin: 0 68px;
  }

  .indent-right {
    margin-right: 68px;
  }

  header p {
    font-size: 1.25rem;
  }

  header a {
    font-size: 1rem;
  }

  .hero-post {
    padding: 17.9em 3.3em 3.75em 3.3em;
    gap: 0.57em;
  }

  .hero-date {
    font-size: 1rem;
  }
  .hero-date-click {
    /* font-size: 1rem; */
    margin-top: 4.4em;
  }
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-title-click {
    font-size: 2.25rem;
    margin-bottom: 0.25em;
  }
  .hero-description {
    max-width: 615px;
  }

  .view-more {
    margin-top: 2em;
    margin-bottom: 3.18em;
  }
}
